[Unit]
Description=TalKKonnect Radio Screen
Requires=systemd-user-sessions.service network.target sound.target dbus.socket
After=multi-user.target
AllowIsolate=true

[Service]
RemainAfterExit=no
User=
Group=
Type=forking
WorkingDirectory=
ExecStartPre=
ExecStart=/usr/bin/screen -dmS tk /home/talkkonnect/bin/talkkonnect
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s SIGTERM $MAINPID
PrivateTmp=true

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
Alias=talkkonnect.target
